body {
	text-align: center;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.new-book-btn {
	background: none;
	border: none;
	height: 50px;
	width: 200px;
	background-color: beige;
}

.books-container {
  display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
}

.book-card {
	display: flex;
	flex-direction: column;
	padding: 100px;
	border: none;
	background-color: blanchedalmond;
	text-align: center;
}