body {
	text-align: center;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.new-book-btn {
	background: none;
	border: none;
	height: 50px;
	width: 200px;
	background-color: beige;
}

.books-container {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: auto;
	gap: 20px;
	justify-content: center;
}

.book-card {
	display: flex;
	flex-direction: column;
	padding: 50px;
	height: 200px;
	width: 200px;
	border: none;
	background-color: blanchedalmond;
	text-align: center;
}

.book-card-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.book-form {
	width: 300px;
	height: 200px;
}